<div class="p-5 border rounded m-auto w-75">
  <h1>Welcome to Events for all</h1>
  <p class="mb-4">Sign up here simply by entering your username</p>
  <%= form_with model: @user do |f| %>
    <div class="input-group">
      <%= f.text_field :username, required: true, placeholder: 'Username', class: 'form-control' %>
      <%= f.submit 'Submit', class: 'btn btn-dark' %>
    </div>
  <% end %>
</div>
