<div class="p-5 border rounded m-auto w-75">
<h1>Welcome to Events for all</h1>
<p>Sign up here simply by entering your username</p>
<%= form_with model: @user do |f| %>
<%= f.label :username %>
<%= f.text_field :username, required: true %>

<%= f.submit 'Submit' %>
<% end %>
</div>

