<h1>No one to invite !</h1>
<p class="mb-4">There is no one to invite for one of the following reasons :</p>
<ul>
  <li>All the users are already invited to this event</li>
  <li>You are the only user and you can't invite yourself</li>
</ul>
